@{

}

@section Styles{
    <link href="~/css/loginRegister.css" rel="stylesheet" />
}

<!-- Home Section -->

<section id="home" class="main-home parallax-section">
    <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <h1>Selam! Burası Blog Site.</h1>
                <h4>Yazılarını paylaşabilir veya diğer yazarları takip edebilirsin</h4>
                @if (!false)
                {
                    <a href="/UserDashboard/Profile" class="smoothScroll btn btn-default">skacmaz</a>
                }
                else
                {
                    <!--Trigger-->
                    <a class="smoothScroll btn btn-default" id="loginRegisterBtn" href="#" data-target="#login" data-toggle="modal">Giriş/Kayıt</a>                
                }

                <!--Login Modal-->

                <div id="login" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="container" id="container">
                                    <div class="form-container sign-up-container">
                                        <form action="#">
                                            <input id="r_Name" name="Name" type="text" class="form-control" placeholder="Name" />
                                            <input id="r_Email" name="Email" type="email" class="form-control" placeholder="Email" />
                                            <input id="r_Password" name="Password" type="password" class="form-control" placeholder="Password" />
                                            <button>Kayıt Ol</button>
                                        </form>
                                    </div>
                                    <div class="form-container sign-in-container">
                                        <form action="#">
                                            <input id="l_Email" name="Email" type="email" class="form-control" placeholder="Email" />
                                            <input id="l_Password" name="Password" type="password" class="form-control" placeholder="Password" />
                                            <a href="#">Şifrenizi mi unuttunuz?</a>
                                            <button>Giriş Yap</button>
                                        </form>
                                    </div>
                                    <div class="overlay-container">
                                        <div class="overlay">
                                            <div class="overlay-panel overlay-left">
                                                <h1>Hoş Geldiniz!</h1>
                                                <p>Bizimle bağlantıda kalmak için lütfen kişisel bilgilerinizle giriş yapın</p>
                                                <button class="ghost" id="signIn">Giriş Yap</button>
                                            </div>
                                            <div class="overlay-panel overlay-right">
                                                <h1>Selam, Blogger!</h1>
                                                <p>Kişisel bilgilerinizi girin ve bizimle yolculuğa başlayın</p>
                                                <button class="ghost" id="signUp">Kayıt Ol</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Blog Section -->

<section id="blog">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="blog-post-image">
                        <a href="single-post.html">
                            <img src="~/neuron/images/blog-image1.jpg" class="img-responsive" alt="Blog Image">
                        </a>
                    </div>
                    <div class="blog-post-title">
                        <h3><a href="single-post.html">We Help You Create Perfect Modern Design</a></h3>
                    </div>
                    <div class="blog-post-format">
                        <span><a href="#"><img src="~/neuron/images/author-image1.jpg" class="img-responsive img-circle"> Jen Lopez</a></span>
                        <span><i class="fa fa-date"></i> July 22, 2017</span>
                        <span><a href="#"><i class="fa fa-comment-o"></i> 35 Comments</a></span>
                    </div>
                    <div class="blog-post-des">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <a href="single-post.html" class="btn btn-default">Continue Reading</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/loginRegister.js"></script>
}