<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>@ViewData["Title"] - BlogSite.Web</title>

    <!-- Template 2085 Neuron  http://www.tooplate.com/view/2085-neuron -->

    <link rel="stylesheet" href="~/neuron/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/neuron/css/font-awesome.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/neuron/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <!-- PRE LOADER -->

    <div class="preloader">
        <div class="sk-spinner sk-spinner-wordpress">
            <span class="sk-inner-circle"></span>
        </div>
    </div>

    <!-- Navigation section  -->

    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand">BLOG SITE</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="index.html">Ana Sayfa</a></li>
                    <li><a href="about.html">Hakkımızda</a></li>
                    <li><a href="gallery.html">Galeri</a></li>
                    <li><a href="contact.html">İletişim</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Main -->
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <!-- Footer Section -->

    <footer>
        <div class="container">
            <div class="row">

                <div class="col-md-5 col-md-offset-1 col-sm-6">
                    <h3>projectB Studio</h3>
                    <p>Bloglar, herhangi bir konu hakkında kişisel düşüncelerin, bilgilerin ve deneyimlerin paylaşıldığı dijital günlüklerdir. Blog yazmak, yazma becerilerinizi geliştirmenin yanı sıra, kendinizi ifade etme ve başkalarıyla etkileşime geçme fırsatı sunar. </p>
                    <div class="footer-copyright">
                        <p>Copyright &copy; 2023 projectB - Design: Tooplate</p>
                    </div>
                </div>

                <div class="col-md-4 col-md-offset-1 col-sm-6">
                    <h3>Bizimle Konuş</h3>
                    <p><i class="fa fa-globe"></i> Kocaeli Üniverstesi</p>
                    <p><i class="fa fa-phone"></i> 010-020-0990</p>
                    <p><i class="fa fa-save"></i> projectB@company.com</p>
                </div>

                <div class="clearfix col-md-12 col-sm-12">
                    <hr>
                </div>

                <div class="col-md-12 col-sm-12">
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-google-plus"></a></li>
                        <li><a href="#" class="fa fa-dribbble"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>

    <!-- Back top -->
    <a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

    <!-- SCRIPTS -->
    <!-- <script src="~/lib/jquery/dist/jquery.min.js"></script> -->
    <!-- <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="~/neuron/js/jquery.js"></script>
    <script src="~/neuron/js/bootstrap.min.js"></script>
    <script src="~/neuron/js/particles.min.js"></script>
    <script src="~/neuron/js/app.js"></script>
    <script src="~/neuron/js/jquery.parallax.js"></script>
    <script src="~/neuron/js/smoothscroll.js"></script>
    <script src="~/neuron/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
